* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.page {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.cover {
  background-color: #f9f8fa;
  color: #f75e8e;
  flex-direction: column;
}

.cover .text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  animation: fadeIn 2s ease-in-out;
}

.cover button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background: #ff69b4;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.cover button:hover {
  background: #ff85c1;
}

.message {
  background-color: #f446b4;
  color: #fffdfd;
  overflow-y: auto;
  padding: 40px 20px;
}

.msg-content {
  max-width: 600px;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
}

.active {
  display: flex;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}